<?xml version="1.0" encoding="utf-8"?>
<!-- run this via cli -->
<!-- dotnet publish -p:PublishProfile=FolderProfile -c Release -->

<!--
https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-10.0#folder-publish-example -->
<!--
https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-10.0#selective-file-inclusion -->
<Project>

  <PropertyGroup>
    <!-- <PublishUrl>$(MSBuildProjectDirectory)/Publish</PublishUrl> -->
    <!-- <TargetFramework>""</TargetFramework> -->
    <!-- <ProjectGuid> -->
    <!--   <GUID Here=""></GUID> -->
    <!-- </ProjectGuid> -->

    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <PublishFramework />
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <DeleteExistingFiles>true</DeleteExistingFiles>

    <!-- disable generate web.config when publish -->
    <IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>
  </PropertyGroup>

  <!--
  https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-10.0#exclude-files -->
  <ItemGroup>
    <!-- <Content Include="Template/**" CopyToPublishDirectory="Always" /> -->
    <Content Update="*.json" CopyToPublishDirectory="Never" />
    <Content Update="*.config" CopyToPublishDirectory="Never" />
  </ItemGroup>

  <Target Name="CreateCustomDir" AfterTargets="Publish">
    <MakeDir Directories="$(PublishDir)ClientApp" />
  </Target>
</Project>
