<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<!-- run this via cli -->
<!-- dotnet publish -p:PublishProfile=FolderProfile -c Release -->

<!--
https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-10.0#folder-publish-example -->
<!--
https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-10.0#selective-file-inclusion -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishProtocol>FileSystem</PublishProtocol>

    <!-- <TargetFramework>"netx.x"</TargetFramework> -->
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <DeleteExistingFiles>true</DeleteExistingFiles>

    <SiteUrlToLaunchAfterPublish />
    <PublishFramework />

    <!-- disable generate web.config when publish -->
    <IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>
  </PropertyGroup>

  <!--
  https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-10.0#exclude-files -->
  <ItemGroup>
    <Content Include="Template/**">
      <!-- <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory> -->
      <CopyToOutputDirectory>Always</CopyToOutputDirectory>
    </Content>
    <Content Update="*.json" CopyToPublishDirectory="Never" />
    <Content Update="*.config" CopyToPublishDirectory="Never" />
  </ItemGroup>

  <!-- $(get string from tag content), @(get list from tag content)-->
  <Target Name="CreateCustomDir" AfterTargets="Publish">
    <MakeDir Directories="$(PublishDir)ClientApp" />
  </Target>
</Project>
