<?xml version="1.0" encoding="utf-8"?>
<!-- run this via cli -->
<!-- dotnet publish -p:PublishProfile=FolderProfile -c Release -->

<!--
https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-10.0#folder-publish-example -->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishUrl>$(MSBuildProjectDirectory)/Publish</PublishUrl>
    <_TargetId>Folder</_TargetId>

    <!-- disable generate web.config when publish -->
    <IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>

    <!--
    https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-10.0#selective-file-inclusion -->
    <SiteUrlToLaunchAfterPublish />
    <PublishFramework />
    <!-- <ProjectGuid> -->
    <!--   <GUID Here=""></GUID> -->
    <!-- </ProjectGuid> -->
  </PropertyGroup>

  <!--
  https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-10.0#exclude-files -->
  <ItemGroup>
    <!-- <Content Include="Template/**" CopyToPublishDirectory="Always" /> -->
    <Content Update="*.json" CopyToPublishDirectory="Never" />
    <Content Update="*.config" CopyToPublishDirectory="Never" />
    <Content Update="**/web.config" CopyToPublishDirectory="Never" />
  </ItemGroup>
</Project>
